*.code-workspace
*.gcda
*.gcno
*.gcov
*.log
*.orig
*.sublime-project
*.sublime-workspace
*.tmp
*.user
*~
.tags
.tags_sorted_by_file
/*.svg
/.gdbinit
/.idea
/CMakeCache.txt
/CMakeFiles
/build
/dist
/doxygen-docs
/install_manifest.txt
/other
Makefile
tags
